main{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7.5%;
}

    main h1 {

        margin: 0;
        padding: 20px;
        
    }

    main table {

        margin: 0 auto;
    }

        main table tbody tr td p {

            margin: 8px;
        }

            main table tbody tr td input {

                margin: 5px;
            }

    main nav input.button {

        margin: 0 15px;
    }

    main nav input.button:hover {

        font-size: 100%;
    }