article{
    padding-left:20%;
    padding-right:20%;  
    font-family: 'Times New Roman', Times, serif;
}
    article h1{
        text-align: center;
    }
    article p{
        text-align: justify;
    }

div#center{
    text-align: center;
}
    div#center img{
        width: 65%;        
    }
    div#center button{
        margin: 2% auto;        
    }