body{
    background-color:lightblue;
}
header#cont{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

    #cont .box h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2em;
        margin: 0% 2%;
        padding-left: 5%;
    }
    #cont .box h2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        margin: 0% 2%;
        padding-left: 5%;
    }
    #cont nav.box{
        width: 40%;
        padding-top: 10px;
        padding-left: 2%;
    }  
    #cont .box ul#list{
        margin-top: 3%;
        list-style: none;
        display: flex;
        justify-content:space-around;
    }
footer{
    border-top: 2px solid black;
    text-align: center;
    font-size: small;
    margin-top: 1%;
}
    p{
        margin-bottom: 0rem;
    }