* {

    font-family: Arial, Helvetica, sans-serif;
}

body {

    text-align: center;
}

h1 {

    margin: 0;
    padding: 20px;
}

table {

    margin: 0 auto;
}

table tbody tr td p {

    margin: 8px;
}

table tbody tr td input {

    margin: 5px;
}

nav input {

    margin: 0 15px;
}

nav input:hover {

    font-size: 100%;
}