main {

    text-align: center;
}

main form {

    font-family: 'Open Sans', sans-serif;
}

main form h1 {

    margin-top: 50px;
    font-family: sans-serif;
    font-weight: normal;
}

main form label {

    
}

main form select {

    
}

main form select option {


}

main form table {

    margin: 0 auto;
}

main form table tbody {


}

main form table tbody tr {


}

main form table tbody tr .horario {


}

main form table tbody tr td {


}

main form table tbody tr td input {

    margin: 10px;
}

main form nav {


}

main form nav input {

    margin: 0 20px 100px;
    font-size: 100%;
}