main {


}

main .sobre {

    display: flex;
    text-align: center;
    padding: 0 20%;
    margin: 50px;
}

main .sobre h3 {

    font-size: 3em;
    text-align: center;
    margin: auto 50px auto 0;
    font-family: sans-serif;
    font-weight: normal;
}

main .sobre p {

    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

hr {

    width: 60%;
    margin: 0 auto;
}

.img {

    text-align: center;
}

.img img {
    
    width: 60%;
    margin: 50px auto;
}

/* main .tabela {
    
    width: 800px;
    font-size: 14px;
    table-layout: fixed;
    margin: 50px auto 50px auto;
    border: 1px solid #C0C0C0;
    background-color: #959595;
    font-family: 'Open Sans', sans-serif;
}

main .tabela thead {


}

main .tabela thead tr {

    
}

main .tabela thead tr th {

    background-color: #4F4F4F;
    color: #FFF;
    font-weight: bold;
    padding: 3px;
}

main .tabela tbody {

    background-color: #FFF;
    text-align: center;
}

main .tabela tbody tr {

    
}

main .tabela tbody tr td:first-child {

    background-color: #4F4F4F;
    color: #FFF;
    font-weight: bold;
    padding: 3px;
}

main .tabela tbody tr td {


}

main .tabela tbody tr td .materia {


}

main .tabela tbody tr td .professor {


}

main .tabela tbody tr .alternativo {

    background-color: #E7E7E7;
}

main .tabela tbody tr .alternativo .materia {


}

main .tabela tbody tr .alternativo .professor {


} */

.botao {

    text-align: center;
}

.botao a input {

    background-color: #4F4F4F;
    color: #FFF;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
