{% extends 'base.html' %}
   
    {% load static %}
    
    {% block estilo %}

        <link rel="stylesheet" type="text/css" href="{% static '/css/detalhe.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    {% endblock estilo %}
  
    {% block conteudo %}

        <h1> Detalhes da Matéria </h1>

        <p> Matéria: </p> {{ horario.materia.nome }}
        <p> Descrição: </p> {{ horario.materia.descrição }} 
        <p> Curso: </p> {{ horario.materia.curso }}
        <p> Semestre: </p> {{ horario.materia.semestre }}
        <p> Professor: </p> {{ horario.materia.professor.nome }}
        <p> Dia: </p> {{ horario.dia }}
        <p> Horário: </p> {{ horario.horario }}

    {% endblock conteudo %}