{% extends 'base.html' %}
   
    {% load static %}
    
    {% block estilo %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/horario.css' %}">
    {% endblock estilo %}
  
    {% block conteudo %}        
        <table id="tabela">
            <h1>Horário das Aulas</h1>
            <thead>

                <tr>
                    <td> Horário/Dia </td>
                    <td> Segunda </td>
                    <td> Terça </td>
                    <td> Quarta </td>
                    <td> Quinta </td>
                    <td> Sexta </td>

                </tr>

            </thead>

            <tbody>

                <tr>
                    <td> 19h10 - 20h00 </td>

                    <td>
                        <p class="materia"> Análise de Algoritmos </p>
                        <p class="professor"> Felipe Carvalho </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Gerência de Projeto I </p>
                        <p class="professor"> Ricardo Morelli </p>
                    </td>
                    <td>
                        <p class="materia"> Língua Estrangeira </p>
                        <p class="professor"> Érika Chiarello </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Compiladores
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Programação Web
                        <p class="professor"> Newton Shydeo </p>
                    </td>

                </tr>

                <tr>
                    <td> 20h00 - 20h50 </td>

                    <td>
                        <p class="materia"> Análise de Algoritmos </p>
                        <p class="professor"> Felipe Carvalho </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Gerência de Projeto I </p>
                        <p class="professor"> Ricardo Morelli </p>
                    </td>
                    <td>
                        <p class="materia"> Língua Estrangeira </p>
                        <p class="professor"> Érika Chiarello </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Compiladores
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Programação Web
                        <p class="professor"> Newton Shydeo </p>
                    </td>

                </tr>

                <tr>
                    <td> 21h05 - 21h55 </td>

                    <td>
                        <p class="materia"> Análise de Algoritmos </p>
                        <p class="professor"> Felipe Carvalho </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Compiladores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Redes de Computadores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Redes de Computadores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Programação Web </p>
                        <p class="professor"> Newton Shydeo </p>
                    </td>

                </tr>

                <tr>
                    <td> 21h55 - 22h45 </td>

                    <td>
                        <p class="materia"> Análise de Algoritmos </p>
                        <p class="professor"> Felipe Carvalho </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Compiladores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Redes de Computadores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Redes de Computadores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Programação Web </p>
                        <p class="professor"> Newton Shydeo </p>
                    </td>

                </tr>

            </tbody>

        </table>

        <nav>

            <a href="{% url 'inserir' %}"><input type="button" value="Inserir"></a>
            <a href="{% url 'alterar' %}"><input type="button" value="Alterar"></a>
            <a href="{% url 'deletar' %}"><input type="button" value="Excluir dia"></a>
            <input type="button" value="Excluir tudo">

        </nav>
{% endblock conteudo %}