{% extends 'base.html' %}
   
    {% load static %}
    
    {% block estilo %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
    {% endblock estilo %}


    
    {% block conteudo %}

        <div class="sobre">

            <h3> SOBRE O PROJETO </h3>
            <p> Um projeto para implementar uma melhoria na Grade de Horários, fornecendo para alunos, docentes e coordenadores uma maior facilidade para utilização além de disponibilizar o mais claro possível as informações. </p>

        </div>

        <hr>
        <div class="img">
            <img src="{% static '/images/tabela.png' %}" alt="imagem visual da tabela de visualização das aulas">
        </div>
        <!-- <table class="tabela">

            <thead>

                <tr>

                    <th> Horário/Dia </th>
                    <th> Segunda </th>
                    <th> Terça </th>
                    <th> Quarta </th>
                    <th> Quinta </th>
                    <th> Sexta </th>

                </tr>

            </thead>

            <tbody>

                <tr>

                    <td> 19h10 - 20h00 </td>

                    <td>
                        <p class="materia"> Análise de Algoritmos </p>
                        <p class="professor"> Felipe Carvalho </p>
                    </td>

                    <td class="alternativo">
                        <p class="materia"> Gerência de Projeto I </p>
                        <p class="professor"> Ricardo Morelli </p>
                    </td>

                    <td>
                        <p class="materia"> Língua Estrangeira </p>
                        <p class="professor"> Érika Chiarello </p>
                    </td>

                    <td class="alternativo">
                        <p class="materia"> Compiladores
                        <p class="professor"> José Cabral </p>
                    </td>

                    <td>
                        <p class="materia"> Programação Web
                        <p class="professor"> Newton Shydeo </p>
                    </td>

                </tr>

                <tr>
                    <td> 20h00 - 20h50 </td>

                    <td>
                        <p class="materia"> Análise de Algoritmos </p>
                        <p class="professor"> Felipe Carvalho </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Gerência de Projeto I </p>
                        <p class="professor"> Ricardo Morelli </p>
                    </td>
                    <td>
                        <p class="materia"> Língua Estrangeira </p>
                        <p class="professor"> Érika Chiarello </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Compiladores
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Programação Web
                        <p class="professor"> Newton Shydeo </p>
                    </td>

                </tr>

                <tr>
                    <td> 21h05 - 21h55 </td>

                    <td>
                        <p class="materia"> Análise de Algoritmos </p>
                        <p class="professor"> Felipe Carvalho </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Compiladores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Redes de Computadores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Redes de Computadores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Programação Web </p>
                        <p class="professor"> Newton Shydeo </p>
                    </td>

                </tr>

                <tr>
                    <td> 21h55 - 22h45 </td>

                    <td>
                        <p class="materia"> Análise de Algoritmos </p>
                        <p class="professor"> Felipe Carvalho </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Compiladores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Redes de Computadores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td class="alternativo">
                        <p class="materia"> Redes de Computadores </p>
                        <p class="professor"> José Cabral </p>
                    </td>
                    <td>
                        <p class="materia"> Programação Web </p>
                        <p class="professor"> Newton Shydeo </p>
                    </td>

                </tr>

            </tbody>

        </table> -->

    {% endblock conteudo %}