{% load static %}

<link rel="stylesheet" type="text/css" href=" {% static '/css/header.css' %} ">

<header>

    <h1> Hora Aula </h1>

    <nav>

        <ul>

            <li> <a href="{% url 'index' %}"> Home </a> </li>
            

            {% if user.is_authenticated %}
                <li> <a href="{% url 'horario' %}"> Visualização de Aula </a> </li>
                <li> <a href="{% url 'logout' %}"> Logout </a> </li>

            {% else %}

                <li> <a href="{% url 'login' %}"> Login </a> </li>

            {% endif %}
            
        </ul>

    </nav>

</header>